﻿
@{
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <table>
        <tr>
            <th>Evaluación</th>
            <th>Valor Asignado</th>
            <th>Nota Obtenida</th>
            <th>Valor Obtenido</th>
        </tr>
        @foreach (Nota rubro in ViewBag.Evaluaciones)
        {
        <tr>
            <td>@rubro.GetNombre()</td>
            <td>@rubro.GetPorcentaje()</td>
            <td>@rubro.GetObtenido()</td>
            <td>@rubro.GetPorcObtenido()</td>
        </tr>
        }
    </table>

    <div class="nota-final">Nota final = @ViewBag.Evaluaciones[0].GetNotaFinal()</div>

</div>