﻿
@{
    ViewBag.Title = ViewBag.Nombre + " - Estudiante";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<h2>@ViewBag.Nombre</h2>

<h3>Mis cursos</h3><br>

<div>
    <h4>Activos</h4>
    <table>
        <tr>
            <th>Codigo</th>
            <th>Nombre del curso</th>
            <th>Periodo</th>
        </tr>
        @foreach (Grupo curso in ViewBag.GruposActivos)
        {
            <tr>
                @{
                    String nombre = curso.GetNombre();
                    <td>@curso.GetCodigo()</td>
                    <td>@Html.ActionLink(nombre, "Curso", new { idCurso = curso.GetIdGrupo(), nombreCurso = nombre })</td>
                    <td>@curso.GetIdPeriodo()</td>
                }
            </tr>
        }
    </table>

</div>

<div>
    <h4>Inactivos</h4>
    <table>
        <tr>
            <th>Codigo</th>
            <th>Nombre del curso</th>
            <th>Periodo</th>
        </tr>
        @foreach (Grupo curso in ViewBag.GruposInactivos)
        {
            <tr>
                @{
                    String nombre = curso.GetNombre();
                    <td>@curso.GetCodigo()</td>
                    <td>@Html.ActionLink(nombre, "Curso", new { idCurso = curso.GetIdGrupo(), nombreCurso = nombre })</td>
                    <td>@curso.GetIdPeriodo()</td>
                }
            </tr>
        }
    </table>

</div>
