﻿<div class="modal" id="actualizar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="~/Funcionario/RegistrarNota" method="post">
                    <div class="form-group">
                        <label>Nota anterior = @ViewBag.NotaAnterior</label>
                    </div>
                    <div class="form-group">
                        <input id="idCurso"
                               name="idCUrso"
                               type="number"
                               value=@ViewBag.IdCurso />
                        <input id="nombreCurso"
                               name="nombreCurso"
                               type="text"
                               value=@ViewBag.NombreCurso />
                        <input id="idEstudiante"
                               name="idEstudiante"
                               type="number"
                               value=@ViewBag.IdEstudiante />
                        <input id="nombreEstudiante"
                               name="nombreEstudiante"
                               type="text"
                               value=@ViewBag.NombreEstudiante />
                        <input id="notaAnterior"
                               name="notaAnterior"
                               type="number"
                               value=@ViewBag.NotaAnterior />
                        <label>Nueva nota = </label>
                        <input type="number" placeholder="Nota" id="notaNueva" />
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Actualizar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>