﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar sesión</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- El contenedor del formulario de login. -->
    <div>
        <fieldset>
            <h1>Iniciar sesión</h1>
            <form action="~/Login/Ingresar" method="post">
                <!-- la accion es la funcion que llama en LoginController.cs -->
                <!-- El formulario de nombre de usuario y clave -->
                Nombre de usuario: <input type="text" name="user"><br>
                Contraseña: <input type="password" name="password"><br>
                <!-- El formulario de tipo de acceso -->
                <input type="radio" name="tipo" value="Funcionario" checked> Funcionario<br>
                <input type="radio" name="tipo" value="Estudiante"> Estudiante<br>
                <!-- Boton de iniciar sesion -->
                <input type="submit" value="Ingresar">
            </form>

            @if (ViewBag.error)
            {
                <p>@ViewBag.errorMessage</p>
                <p>@ViewBag.errorDescription</p>
            }
        </fieldset>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
