﻿
@{
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

<h2>@ViewBag.Title</h2>

<form action="~/Funcionario/RegistrarNota/" method="post">
    <label>Nota anterior = @ViewBag.NotaAnterior</label><br>
    <label>Nueva nota = </label>
    <input id="idCurso"
           name="idCUrso"
           type="hidden"
           value=@ViewBag.IdCurso />
    <input id="nombreCurso"
           name="nombreCurso"
           type="hidden"
           value=@ViewBag.NombreCurso />
    <input id="idEstudiante"
           name="idEstudiante"
           type="hidden"
           value=@ViewBag.IdEstudiante />
    <input id="nombreEstudiante"
           name="nombreEstudiante"
           type="hidden"
           value=@ViewBag.NombreEstudiante />
    <input id="idEvaluacion"
           name="idEvaluacion"
           type="hidden"
           value=@ViewBag.idEvaluacion />
    <input id="nombreEvaluacion"
           name="nombreEvaluacion"
           type="hidden"
           value=@ViewBag.NombreEvaluacion />
    <input type="number" step="any" placeholder="Nota" name="notaNueva" />
    <input type="submit" value="Actualizar">
</form>
