﻿@using Administrador_de_cursos.Models
@model EstudianteXGrupo
@{
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <table>
        <tr>
            <th>Nombre</th>
        </tr>
        @foreach (EstudianteXGrupo estudiante in ViewBag.Estudiantes)
        {
            <tr>
                <td>@Html.ActionLink(estudiante.GetNombre(), "Estudiante",
                   new
                   {
                       idCurso = ViewBag.IdCurso,
                       nombreCurso = ViewBag.NombreCurso,
                       idEstudiante = estudiante.GetIdEstudiante(),
                       nombreEstudiante = estudiante.GetNombre(),
                       activo = ViewBag.Activo
                   })</td>
            </tr>
        }
    </table>

</div>

