﻿@{
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    @if (ViewBag.activo)
    {
        <table>
            <tr>
                <th>id</th>
                <th>curso</th>
                <th>id e</th>
                <th>nombre e</th>
            </tr>
            <tr>
                <td>@ViewBag.IdCurso</td>
                <td>@ViewBag.NombreCurso</td>
                <td>@ViewBag.IdEstudiante</td>
                <td>@ViewBag.NombreEstudiante</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Evaluación</th>
                <th>Valor Asignado</th>
                <th>Nota Obtenida</th>
                <th>Valor Obtenido</th>
            </tr>
            @foreach (Nota rubro in ViewBag.Evaluaciones)
            {
                <tr>
                    <td>@rubro.GetNombre()</td>
                    <td>@rubro.GetPorcentaje()</td>
                    <td>@Html.ActionLink(rubro.GetObtenido(), "ActualizarNota",
                       new
                       {
                           idCurso = ViewBag.IdCurso,
                           nombreCurso = ViewBag.NombreCurso,
                           idEstudiante = ViewBag.IdEstudiante,
                           nombreEstudiante = ViewBag.NombreEstudiante,
                           idEvaluacion = rubro.GetIdEvaluacion(),
                           nombreEvaluacion = rubro.GetNombre(),
                           notaAnterior = rubro.GetObtenido()
                       })</td>
                    <td>@rubro.GetPorcObtenido()</td>
                </tr>
            }
        </table>
    }
    else
    {
        <table>
            <tr>
                <th>Evaluación</th>
                <th>Valor Asignado</th>
                <th>Nota Obtenida</th>
                <th>Valor Obtenido</th>
            </tr>
            @foreach (Nota rubro in ViewBag.Evaluaciones)
            {
                <tr>
                    <td>@rubro.GetNombre()</td>
                    <td>@rubro.GetPorcentaje()</td>
                    <td>@rubro.GetObtenido()</td>
                    <td>@rubro.GetPorcObtenido()</td>
                </tr>
            }
        </table>
    }


    <div class="nota-final">Nota final = @ViewBag.Evaluaciones[0].GetNotaFinal()</div>

</div>